{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <title>Material Design for Bootstrap</title>
</head>
<body>
    <header>
        <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <div class="container-fluid">
                <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarExample01"
                    aria-controls="navbarExample01"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarExample01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link text-white" aria-current="page" href="{% url 'index' %}">Home</a>
                    </li>
                    
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <span style="color: white;">
                                {{ user.username }}
                            </span>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'register' %}">Cadastrar</a>
                        </li>
                    {% endif %}

                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                    </ul>
                </div>
                </div>
            </nav>
        <!-- Navbar -->
        </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    {% bootstrap_javascript %}
</body>
</html>